# This is your .env file
# The data added here will be propagated to the client
# example:
# PORT=9000
APP_AXIOS_BASEURL=http://127.0.0.1:8000
PUSHER_APP_CHANNEL=juegos-api
PUSHER_APP_KEY=
PUSHER_APP_CLUSTER=eu
